{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://fonts.cdnfonts.com/css/sprite-graffiti" rel="stylesheet">
    <title>HotBratki</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <a href="#"><img class="logo" src="img/Logotip_OSD_Plamya.png" alt="Логотип 'Пламя'"></a>
            <ul class="site-navigation">
                <li class="site-navigation-item">
                    <a href="">Наши братики</a>
                </li>
                <li class="site-navigation-item">
                    <a href="">Где мы были</a>
                </li>
                <li class="site-navigation-item">
                    <a href="">Как мы это делаем</a>
                </li>
              </ul>
        </nav>
    </header>
    <main>
        <section class="general">
            <h2 class="general-title">Это мы</h2>
            <img src="img/img_main.jpg" alt="Изображение команды 'Пламя'">
            <p class="general-text">На протяжении уже восьми лет отряд Снежного Десанта «Пламя» собирает студентов-добровольцев, готовых работать зимой в
            отдаленных уголках России. Концерты для местных жителей, шефская помощь, профориентационные занятия для выпускников —
            то, что делает такое холодное время года теплее.</p>
        </section>
        <section class="about-us">
            <h2 class="about-us-title">ОСД «Пламя»</h2>
            <img src="img/img_about_flame.jpg" alt="Изображение команды 'Пламя'">
            <p class="about-us-text">«Пламя» — это инициативные и смелые студенты Москвы. Самый опытный отряд Снежного Десанта столицы сохраняет традиции
            и передает навыки работы с детьми и взрослыми из сезона в сезон.
            Развлекательная и образовательная программы меняются и обновляются каждый год, чтобы быть на одной волне с молодёжью
            и приносить как можно больше пользы региону, принимающему нас. Помощь местному населению также является важной частью
            нашей работы: почистить снег или наколоть дров нуждающимся в этом людям — это то, ради чего и создавалось «Пламя»</p>
        </section>
        <section class="concert">
            <h2 class="concert-title">Снежный Десант</h2>
            <img src="img/img_main_sd_1.jpg" alt="Изображение команды 'Снежный Десант'">
            <img src="img/img_main_sd_2.jpg" alt="Изображение команды 'Снежный Десант'">
            <p class="concert-text">Концерт, насыщенный танцевальными, вокальными и юмористическими номерами; прикладные мастер-классы для школьников, так
            любящих рукоделие; профориентационная программа для старшеклассников, чтобы без страха подобрать профессию и подходящий
            для нее ВУЗ.
            Все это несет патриотический и просветительский характер, для людей разных возрастов и интересов, и все это — наш
            Снежный Десант.</p>
        </section>
    </main>
    <footer class="main-footer">
        <img src="img/logo_rco.png" alt="Логотип РСО">
        <img src="img/logo_mocrco.png" alt="Логотип МосРСО">
        <h3 class="contact">Контакты</h3>
        <p>Командир сезона 2024 — Юлия Серна:SernaYI164@mgpu.ru</p>
        <p>Комиссар сезона 2024 — Елизавета Булычёва:bulychevaes@yandex.ru</p>
        <p>osdplamya@gmail.com</p>
        <img src="img/socials.svg" alt="Логотип ВК">
    </footer>
</body>
</html>